/* body {
  width: auto;
  height: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #ddd;
}
 */
.widget {
  margin: 0 auto;
  width: 350px;
  background-color: #ccc0;
  font-family: 'Roboto', sans-serif;
}

.chart-container {
  padding: 25px;
}

.shadow-local {
  box-shadow: #ccc0!important;
}