#label-container {
    width: 90%;
    margin: 0 auto;
}

.animal-explain {
    font-size: 1.5rem;
}

.bar-container {
    height: 3rem;
    margin-top: auto;
}


.deer-animal-title {
    color: #3ba363;
}

.deer-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
}

.deer-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
}

.percent-text {
    font-size: 1rem;
    color: #ffffff;
}

.cat-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(251, 176, 59, 0.2);
}

.cat-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(251, 176, 59, 1);
}

.dog-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(27, 175, 234, 0.2);
}

.dog-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(27, 175, 234, 1);
}

.rabbit-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(235, 166, 190, 0.2);
}

.rabbit-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
}

.fox-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
}

.fox-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
}

.dis-th {
    margin-top: 50px;
    width: 90%;
    margin: 0 auto;
}