@font-face { 
    font-family: 'Katuri'; 
    src: url(../font/Katuri.ttf) format('truetype'); 
}


body {
  font-family: sans-serif, 'Katuri','ヒラギノ丸ゴ Pro W4';
  background-color: #ffffff;
  color: #35465d;
  font-weight: bold;
}

.title {
    line-height: 1.67;
    text-align: center;
    color: #35465d;
}

.subtitle {
    line-height: 1.53;
    text-align: center;
    color: #35465d;
}


