a{
  color:#444;
}

#wrapper{
  width:960px;
  margin:20px auto;
}
/* top menu */

#principale{
	width:100%;
	text-transform:uppercase;
	font-size:12px;
	position:relative;
	z-index:999;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
}

#principale a{
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding:20px;
}

#principale li{
	float:left;
}

#principale a:hover, .activate{
	background:#eee !important;
	color:#ccc;
}

.sub-menu{
	position:absolute;
	background:#eee;
	left:0;
	width:100%;
	z-index:99;
	border-bottom:4px solid #ff7900;
	
	display:none;
}